/*FONTS*/
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Bold.woff2') format('woff2'),
        url('fonts/Gilroy-Bold.woff') format('woff'),
        url('fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('fonts/Gilroy-Semibold.woff') format('woff'),
        url('fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


/*COLORS, TYPOGRAPHY and GAPS*/
:root {
    /*colors*/
    --low-white: #f0f2f0;
    --dark-gray: #131413;
    --purple: #a280d1;

    /*font sizes*/
    --fs-xl: 4rem;
    --fs-l: 3rem;
    --fs-m: 2rem;

    /*gaps*/
    --gap-xl: 3rem;
    --gap-l: 2rem;
    --gap-m: 1rem;
}
@media (max-width: 500px) {
    :root {
        --fs-xl: 2.5rem;
    }
}
.text-extra-large {
    font-size: var(--fs-xl);
}
.text-large {
    font-size: var(--fs-l);
}
.text-medium {
    font-size: var(--fs-m);
}
.text-small {
    font-size: var(--fs-s);
}


/*UTILITY CLASSES*/
.text-center {
    text-align: center;
}
.grid {
    display: grid;
}
.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.center {
    align-items: center;
    justify-content: center;
}


/*SET-UP and RESETS*/
h1, button, body {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
a {
    text-decoration: none;
}
a:visited {
    color: inherit;
}
body {
    box-sizing: border-box;
    height: 100vh;
    background-color: var(--low-white);
    font-family: 'Gilroy';
    line-height: 1;
}
main {
    flex-grow: 1;
    width: 90%;
    max-width: 700px;
    margin-inline: auto;
    padding-bottom: var(--gap-l);
}
section {
    margin-inline: auto;
    padding-top: var(--gap-l);
}


/*HEADER and FOOTER*/
header, footer {
    padding-block: var(--gap-l);
    background-color: var(--purple);
}


/*MAIN*/
.game-board {
    grid-template-columns: 1fr 1fr 1fr;
}
.box {
    position: relative;
    border: 1px solid;
    box-sizing: border-box;
}
.box::before {
    content: '';
    display: block;
    padding-top: 100%;
}
.box .content {
    font-size: clamp(3rem, 15vw, 10rem);
    text-transform: uppercase;
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
}
/*hover effects*/
.enlarge, .change-background {
    transition: all 200ms ease;
}
.enlarge:hover {
    transform: scale(1.1);
}
.change-background:hover {
    background-color: #a280d1;
}
/*end hover effects*/
.game-restart {
    color: var(--low-white);
    background-color: var(--dark-gray);
    padding: 1rem 2.5rem;
    cursor: pointer;
}